


body {
	margin:0;
	padding:0;
	background-color:#c6d7ec;
}

p{
	margin-top:3%;
	margin-left: 32%;
	font-size:32px;
}


.GH{
	margin-left:49%;
	
}

#h2{
	margin-left: 37%;
}

#h4{
	margin-left: 27%;
}

.GH button{
	margin:10px;
}